.exec-card {
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
    position: relative;
    padding: 20px !important;
}

.exec-sub-card {
    background-color: var(--card-sub-bg);
    border: 1px solid var(--card-border);
    border-radius: 16px;
}

.compact-chart-container {
    height: 105px !important;
    min-height: 105px !important;
    max-height: 105px !important;
}